<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Failed</title>
	<style>
		body {
			background-image: url("https://media.tenor.com/VDwwxlVfg-4AAAAC/andrew-goldstein-frnd.gif");
			background-repeat: no-repeat;
			background-size: 100% 800px;
			font-family: Arial, sans-serif;
			text-align: center;
			margin: 50px;
		}

		h1 {
			color: #FF0000;
			/* Red color for emphasis */
		}

		p {
			font-size: 18px;
		}

		a {
			text-decoration: none;
			color: #0000FF;
			/* Blue color for the link */
			font-weight: bold;
		}
	</style>
</head>

<body>
	<h1>Login Failed</h1>
	<p>Sorry, your login attempt has failed. Please click the link below to try again:</p>
	<p><a href="loginpage">Click here to login</a></p>
</body>

</html>